:root{
    --background: #414688;
    --white: rgb(255, 255, 255);
    --primary: rgba(0, 0, 0, 0.801);

}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background);
}

.img-container{
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}

.logo{
    width: 30%;
}

h1{
    text-align: center;
}

.form-horizontal{
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}

input[type="text"]{
    color : rgb(66, 167, 52);
    width: 70%;
    height: 22px;
}

button{
    width: 25px;
    height: 24px;
    background-color: var(--primary);
    color: var(--white);
}

.list-container{
    color : rgb(165, 25, 25);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item-container{
    width: 72%;
    border: 1px solid var(--white);
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
} 

.stats{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}