:root{
    --background: #3670c7;
    --white: #f4f4f4;
    --black: #333;
    --gray: #d3d3d3;
}

*{
    margin: 0;
    padding: 0;
    color: var(--white);
}


.img-container{
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}

.app{
    background-color: var(--background);
    color: var(--white);
    margin: 5% 20%;
    border-radius: 20px;
}

.logo{
    width: 30%;
}

h1{
    text-align: center;
}


.form-horizontal{
    text-align: center;
    padding: 10px 0px;
}

input[type="text"]{
    width: 50%;
    height: 22px;
}

button{
    width: 25px;
    height: 24px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 5px;
    text-decoration: none;
    border: none;
}

.list-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.3em;
}

.item-container{
    width: 66%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
} 

.stats{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.new-todo{
  background: transparent;
  width: 10%;
  border: 0;
  color: var(--white);
  border-bottom: 1px solid currentColor;
  font-size: 1.3em;
  outline: none;

  transition: border-bottom 150ms ease-in;
}

.new-todo:focus{
  border-bottom-width: 2px;
}

.new-todo::placeholder{
  opacity: 0.4;
}

