:root{
    --background: #dcddec;
    --white: rgb(249, 249, 249);
    --primary: rgba(43, 43, 195, 1);
    --red: rgb(233, 10, 10);

}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background);
}

.img-container{
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}

.logo{
    width: 30%;
}

h1{
    text-align: center;
}

.form-horizontal{
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    border-color: black;
}

input[type="text"]{
    width: 70%;
    height: 22px;
}

.button_agregar{
    width: 25px;
    height: 24px;
    background-color: var(--primary);
    color: var(--white);
}

.button_eliminar{
    width: 25px;
    height: 24px;
    background-color: var(--red);
    color: var(--white);
}

.list-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item-container{
    width: 72%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
} 

.w3-container{
    border-color:black;
    padding: 5px 10px;
}

.container{
    align-items: center;
    background-color: var(--white);
    flex-direction: column;
    width: 72%;
    margin: 0 0 0 100px;
}
.stats{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}